.DS_Store
build
*.pbxuser
*.perspectivev3
QuickCursor.xcodeproj/project.xcworkspace/xcuserdata/
QuickCursor.xcodeproj/xcuserdata/
QuickCursorEditorExample/QuickCursorEditorExample.xcodeproj/project.xcworkspace/xcuserdata/
QuickCursorEditorExample/QuickCursorEditorExample.xcodeproj/xcuserdata/