[submodule "Vendor/Blocks"]
	path = Vendor/Blocks
	url = git@github.com:jessegrosjean/blocks.git
[submodule "Vendor/BLifecycle"]
	path = Vendor/BLifecycle
	url = git@github.com:jessegrosjean/blifecycle.git
[submodule "Vendor/BSoftwareUpdate"]
	path = Vendor/BSoftwareUpdate
	url = git@github.com:jessegrosjean/bsoftwareupdate.git
[submodule "Vendor/BCrashReporter"]
	path = Vendor/BCrashReporter
	url = git@github.com:jessegrosjean/bcrashreporter.git
[submodule "Vendor/SystemVersionCheck"]
	path = Vendor/SystemVersionCheck
	url = git@github.com:jessegrosjean/systemversioncheck.git
