<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>QuickCursor.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.hogbaysoftware.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7</string>
	<key>CFBundleSignature</key>
	<string>QcCr</string>
	<key>CFBundleVersion</key>
	<string>33</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>QCEditInChoices</key>
	<array>
		<string>org.gnu.Aquamacs</string>
		<string>com.barebones.bbedit</string>
		<string>com.metaclassy.byword</string>
		<string>com.aynimac.CotEditor</string>
		<string>org.pyrite.EditorClient</string>
		<string>com.macrabbit.espresso</string>
		<string>org.fraise.Fraise</string>
		<string>org.vim.MacVim</string>
		<string>com.multimarkdown.composer</string>
		<string>org.smultron.Smultron</string>
		<string>com.peterborgapps.Smultron</string>
		<string>com.peterborgapps.Smultron4</string>
		<string>de.codingmonkeys.SubEthaEdit</string>
		<string>com.sublimetext.2</string>
		<string>com.macromates.textmate</string>
		<string>com.macromates.textmate.preview</string>
		<string>com.barebones.textwrangler</string>
		<string>jp.informationarchitects.WriterForMacOSX</string>
		<string>com.hogbaysoftware.WriteRoom</string>
		<string>com.hogbaysoftware.WriteRoom.mac</string>
		<string>com.mouapp.mou</string>
		<string>org.gnu.Emacs</string>
	</array>
</dict>
</plist>
