<?xml version="1.0" encoding="UTF-8"?>

<plugin
	id="com.hogbaysoftware.quickcursor.QCUserInterface"
	label="User Interface"
	version="1.0.0"
	info="QuickCursor User Interface">

	<requirement bundle="com.blocks.Blocks" version="1.0.0" />
	<requirement bundle="com.blocks.BLifecycle" version="1.0.0" />

	<extension-point id="editor" label="Edit in Editor" />

	<extension point="com.blocks.BLifecycle.lifecycle">
		<applicationDidFinishLaunching class="QCUserInterfaceController sharedInstance" />
	</extension>

	<!-- editor apps should support ODBEditorSuite.h -->
	<extension point="com.hogbaysoftware.quickcursor.QCUserInterface.editor">
		<editor bundle="com.barebones.bbedit" />
		<editor bundle="com.macromates.textmate" />
		<editor bundle="org.smultron.Smultron" />
		<editor bundle="com.hogbaysoftware.WriteRoom" />
	</extension>
		
</plugin>